:root {
    --bg-main: #EDF5FF;
    --bg-header: #ffffff;

    --border-input: #7bb2f5;
    --border-hover: #0a56b4;
    --border-active: #0250b0;
    --search-color: #7C8792;


    --blue: #4593FE;
    --white: #ffffff;
    --black: #222222;
}